rule impl_tcl
    command = chevron -d {{ json }} $in >$out

build impl.tcl: impl_tcl {{ impl_library }}/viv_impl.tcl.mustache

build viv_impl.v viv_impl.edif impl.dcp {{ top }}.bit utilization.txt: vivado impl.tcl | {{ synth_edif }} {{ top }}.xdc

