build {{ impl_output }}/impl.tcl: template {{ json }} {{ impl_library }}/viv_impl.tcl.mustache

build {{ impl_output }}/viv_impl.v {{ impl_output }}/viv_impl.edif {{ impl_output }}/impl.dcp {{ impl_output }}/{{ top }}.bit {{ impl_output }}/utilization.txt: vivado {{ impl_output}}/impl.tcl | {{ synth_output }}/{{ synth_edif }} {{ synth_output }}/{{ top }}.xdc
    journal = {{ impl_output }}/vivado.jou
    log = {{ impl_output }}/vivado.log

