rule synth_tcl
    command = chevron -d {{ json }} $in >$out

rule vivado_ioparse
    command = {{ utils }}/vivado_ioparse <$in >$out
    description = vivado_ioparse $in >$out

build synth.tcl: synth_tcl {{ synth_library }}/viv_synth.tcl.mustache

build {{ top }}.xdc: vivado_ioparse iofile.txt

build viv_synth.edif synth.dcp iofile.txt: vivado synth.tcl | {{#verilog}}{{ . }}{{/verilog}} {{#system_verilog}}{{ . }}{{/system_verilog}}

