build synth.tcl: template {{ json }} {{ synth_library }}/viv_synth.tcl.mustache

build {{ top }}.xdc: vivado_ioparse iofile.txt

build viv_synth.edif synth.dcp iofile.txt: vivado synth.tcl | {{#verilog}}{{ . }}{{/verilog}} {{#system_verilog}}{{ . }}{{/system_verilog}}