build {{ synth_output }}/synth.tcl: template {{ json }} {{ synth_library }}/viv_synth.tcl.mustache

build {{ synth_output }}/{{ top }}.xdc: vivado_ioparse {{ synth_output }}/iofile.txt

build {{ synth_output }}/viv_synth.edif {{ synth_output }}/synth.dcp {{ synth_output }}/iofile.txt: vivado {{ synth_output }}/synth.tcl | {{#verilog}}{{ . }} {{/verilog}} {{#system_verilog}}{{ . }} {{/system_verilog}}
    journal = {{ synth_output }}/vivado.jou
    log = {{ synth_output }}/vivado.log

